.show-product-container {
  gap: 100px;
}
.large-image {
  height: 400px;
  width: 350px;
}
.color-gold {
  color: gold;
}
.lead {
  gap: 10px;
}
.product-display-description {
  font-size: 15px;
}

@media (max-width: 480px) {
  .show-product-container {
    gap: 50px;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
  }
  .image-div {
    display: flex;
    justify-content: center;
  }
  .large-image {
    width: 80%;
    height: auto;
  }
  .product-display-info {
    padding: 0 20px;
  }
  .product-display-description {
    font-size: 1em;
  }
}
