.item {
  width: 199px;
  padding: 5px;
}

.item-price-new {
  color: #374151;
  font-size: 1.15em;
  font-weight: 600;
}

.item:hover {
  transform: scale(1.05);
  transition: 0.6s;
}
.item img {
  width: 167px;
  height: 200px;
}

@media (max-width: 480px) {
  .item {
    width: 100%;
    max-width: 43%;
  }
  .item img {
    width: 100%;
    /* height: auto; */
  }
  .item .item-heading {
    font-size: 1.1em;
    font-weight: 500;
  }

  .item .item-button {
    font-weight: 500;
    font-size: 0.9em;
  }

  @keyframes slideIn {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  .item {
    animation: slideIn 1s ease-out;
  }
}
